html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fffafa;
    color: #003;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 2%;
}

a:hover {
    cursor: pointer;
}

h5 {
    font-size: 1.2rem;
}

.btn {
    background: #880e4f;
}

.btn:focus,
.btn:hover {
    background: #ad1457;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: #1da1f2;
}

.navbar-fixed {
    user-select: none;
}

.error {
    background: #800;
}

.hidden {
    opacity: 0;
}

.img-small {
    max-width: 250px;
}

#userInfo a {
    background-color: transparent;
}

#userInfo li {
    margin-right: 10px;
    font-size: 2em;
}

#userInfo img {
    border-radius: 5px;
    margin-top: 10%;
}

#userDropdown a {
    color: #880e4f;
}

#userProfile {
    color: #000;
}


/* Pin creation modal and form */

.modal {
    max-height: 100vh;
    overflow-y: hidden;
}

#modal-confirm {
    width: 25%;
    margin-top: 25%;
}

#newImgDiv {
    height: 350px;
}

#newPinImg {
    max-width: 400px;
    max-height: 340px;
    margin-bottom: 30px;
}

.validate {
    font-size: 1.3em !important;
}

.input-field input {
    font-size: 1.3em;
}

.input-field input:not([tel]):focus+label {
    color: #7c028c;
}

.input-field input:not([tel]) {
    border-bottom: 1px solid #eee;
}

.input-field input:not([tel]):focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input.valid {
    box-shadow: 0 1px #000;
}

.input-field label {
    font-size: 1.1em !important;
    margin-top: 5px;
}


/* Animation */

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
